# alphanumeric order
$RECYCLE.BIN/
*$py.class
*.ansi
*.cab
*.code-workspace
*.diff
*.egg
*.egg-info/
*.gif
*.iml
*.iws
*.jpeg
*.jpg
*.lnk
*.log
*.mo
*.msi
*.msix
*.msm
*.msp
*.patch
*.pdf
*.png
*.pot
*.py[codz]
*.stackdump
*.swo
*.swp
*.tif
*.tiff
*.txt
*.vsix
*.xml
*~
.*.kate-swp
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.apdisk
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*.c
.cursorignore
.cursorindexingignore
.directory
.dmypy.json
.eggs/
.env/
.fseventsd
.fuse_hidden*
.idea/
.idea_modules/
.installed.cfg
.mypy_cache/
.netrwhist
.nfs*
.nox/
.pytest_cache/
.ruff_cache/
.swp.*
.tox/
.venv/
.vscode/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Bb]in
[Dd]esktop.ini
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
__pycache__/
Icon\[\]
MANIFEST
Network Trash Folder
Session.vim
Sessionx.vim
Temporary Items
Thumbs.db
Thumbs.db:encryptable
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
develop-eggs/
dist/
downloads/
eggs/
ehthumbs.db
ehthumbs_vista.db
env/
fabric.properties
htmlcov/
lib/
lib64/
nohup.out
nosetests.xml
out/
parts/
pip-selfcheck.json
pytest-cov/
pyvenv.cfg
reports/
sdist/
share/python-wheels/
staticfiles/
tags
test.py
var/
venv/
wheels/
xcuserdata/
